*.suo
*.user
*.userosscache
*.userperfs
x64
x86
build/
bld/
[Rr]elease/
[Rr]eleases/
[Dd]ebug/
[Dd]ebugPublic

*.nupkg
**/packages/*
!**/packages/build/
*.VisulaState.xml
project.locl.json
artifacts/
*_i.c
*_p.c
*_i.h
*.mets
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.log
*.tmp
*.tmp_proj
*.tlb
*.svclog
*.scc

*.[Rr]e[Ss]harper
*.DotSettings.user
*.dotCover

MoneyGaminSolution/bin*
MoneyGaminSolution/obj*#

**Tests/**/*.feature.cs

*.GhostDoc.xml

*.pig

*.opt

**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GenerateArtifacts
**/*.DesktopClient/ModelManifest.xml

*.[Cc]ache
!*.[Cc]ache/

publish/

*.psess
*.vsp
*.vspx
*.sap